* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #74ebd5;
  background: linear-gradient(to right, #acb6e5, #74ebd5);
  background-repeat: no-repeat;
}
.content {
  min-height: 100vh;
}
p {
  margin: 0;
}
